@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> AAAAA The Integrated Teaching and Learning (ITL) Program welcomes applications for our IT
Systems Engineer position! The Systems Engineer (SE) develops and supports
Windows-based systems and services offered across the College of Engineering and
Applied Science (CEAS) at CU Boulder. This position supports the IT enterprises of the
ITL Program, Idea Forge, Integrated Design Engineering Program, the
TeachEngineering digital library, the educational spaces in the Aerospace, Mechanical,
and Electrical Engineering departments, and the CEAS cloud computing platform. In
total, this role serves up to 11k users at CU Boulder and 3M globally across a broad
portfolio of tailored IT services. This position will independently engage with engineering
collaborators and translate their unique requests to sustainable solutions that align with
organizational and IT industry best-practices.

Who We Are
The ITL Program at CU Boulder is a nationally recognized engineering education
leader. Our mission is to provide curriculum and support for hands-on engineering
education, across all engineering subject areas, for students from kindergarten to
graduate school (K-22), with a focus on students from underserved populations and
communities. We operate the 35,000 square-foot Integrated Teaching and Learning
Laboratory on the Boulder campus, where we support hands-on experiences for over
3,500 undergraduate and graduate students each year. We also lead and manage
TeachEngineering.org and the Denver-Metro Engineering Consortium (DMEC).
TeachEngineering.org is a NSF-funded digital library that provides free, hands-on K-12
STEM curriculum to over 2.5M educators annually. The DMEC is a DoD-funded
partnership between CU Boulder, CU Denver, and five community colleges in the
Denver-Metro area to increase the number of students from underrepresented groups
earning associate degrees and transferring to undergraduate engineering programs.
The ITL Program is committed to honoring unique backgrounds and experiences. Join
our team and help us build a more inclusive and diverse academic and engineering
culture – apply today!
</p>
