@{
    ViewBag.Title = "Contact Me Further";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- Display the image using the URL -->
<img src="@ViewBag.ImageUrl" alt="Image of me" width="300" height="200">
<address>
    11189 Random Way<br />
    Lafayette, CO 80026<br />
    <abbr title="Phone">P:</abbr>
    303-335-8761
</address>

<address>
    <strong>My Personal Contacts:</strong>   <a href="mailto:cyrus.sowdaey@gmail.com">cyrus.sowdaey@gmail.com</a><br />
</address>