@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cyrus' .NET Website using Azure Web Services and Azure DevOps</h1>
    <p class="lead">This .NET app was originally taken as a template then adapted to an IT Systems Engineer position at CU! </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Original Job PDF</h2>
        <p>
            Click me to download the PDF of the original job posting!
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/uc?export=download&id=1ejPz1UX0LMNBovkEAVPMwq55BrkXUgEW">Download PDF &raquo;</a>
</p>
    </div>
    <div class="col-md-4">
        <h2>View Github Repository</h2>
        <p>Click here to view the repository and enclosed code on which this website is built!</p>
        <p><a class="btn btn-default" href="https://github.com/CyrusDS/app-service-web-dotnet-get-started">Click for Slight Disorganization &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit the ITL Main Page</h2>
        <p>This is just a quick demo :)</p>
        <p><a class="btn btn-default" href="https://itlp.colorado.edu/">Visit &raquo;</a></p>
    </div>
        <div class="col-md-4">
        <h2>Watch a Video</h2>
        <p>Check out a cute cat and dog snuggling!</p>
        <!-- Replace the video URL with your actual video URL -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/NRR-q-D4X5o" frameborder="0" allowfullscreen></iframe>
    </div>
</div>