@{
    ViewBag.Title = "Job Needs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> <strong>What You Will Need</strong><br>
Demonstrated technical leadership in a customer-focused environment with
shifting priorities.
Experience with system and infrastructure strategy and design.
Demonstrated expertise managing and supporting Microsoft Active Directory and
Azure AD.
Experience with clustered, virtualized, or cloud-based server environments.
Experience deploying and supporting Windows-based operating systems (Server
2016+ and Windows 10+).
Ability to diagnose and solve complex server and workstation hardware and
software problems.
Ability to work independently and as well as on a team and lead projects,
migrations, and upgrades.
A consistent willingness to innovate, challenge the status quo, and improve.
Proficiency with fundamental networking concepts, diagnostic techniques, and
tools.
Good communication, interpersonal and organizational skills.
Ability to thrive in an aerobic and fast-paced environment where quick decisionmaking and multi-tasking are demonstrated daily.
Sensitivity to and appreciation of cultural, political, and geographical differences,
with the ability to work well with students, faculty, and staff from around the world.
</p>

<p> <strong> What We Would Like You to Have </strong><br>
Experience with the management of specialized, equipment-based workstations
and their associated configurations.
Experience with automated system and software deployment tools.

</p>
