@{
    ViewBag.Title = "IT Systems Engineer Position Summary";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>
        <strong>What You Will Need</strong>
        <ul>
            <li>Demonstrated technical leadership in a customer-focused environment with shifting priorities.</li>
            <li>Experience with system and infrastructure strategy and design.</li>
            <li>Demonstrated expertise managing and supporting Microsoft Active Directory and Azure AD.</li>
            <li>Experience with clustered, virtualized, or cloud-based server environments.</li>
            <li>Experience deploying and supporting Windows-based operating systems (Server 2016+ and Windows 10+).</li>
            <li>Ability to diagnose and solve complex server and workstation hardware and software problems.</li>
            <li>Ability to work independently and as well as on a team and lead projects, migrations, and upgrades.</li>
            <li>A consistent willingness to innovate, challenge the status quo, and improve.</li>
            <li>Proficiency with fundamental networking concepts, diagnostic techniques, and tools.</li>
            <li>Good communication, interpersonal and organizational skills.</li>
            <li>Ability to thrive in an aerobic and fast-paced environment where quick decision-making and multi-tasking are demonstrated daily.</li>
            <li>Sensitivity to and appreciation of cultural, political, and geographical differences, with the ability to work well with students, faculty, and staff from around the world.</li>
        </ul>
    </li>

    <li>
        <strong>What We Would Like You to Have</strong>
        <ul>
            <li>Experience with the management of specialized, equipment-based workstations and their associated configurations.</li>
            <li>Experience with automated system and software deployment tools.</li>
        </ul>
    </li>
</ul>