@{
    ViewBag.Title = "MyQuestions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>
        <strong>Professional Level Offerings</strong>
        <ul>
            <li>The hiring ranges by position level are:</li>
            <li>Professional Level III: $83,000 - $90,000</li>
            <li>Professional Level II: $65,000 - $75,000</li>
        </ul>
    </li>

    <li>
        <strong>What We Require</strong>
        <ul>
            <li><strong>Professional Level II:</strong></li>
            <ul>
                <li>Graduation from an accredited college or university with a bachelor’s degree. An equivalent combination of education and experience may substitute for the degree requirement.</li>
                <li>At least one year of broad hands-on experience as a Windows systems engineer/administrator implementing and supporting cloud-based technologies, virtualized infrastructure, end-user computing, servers, and disaster recovery systems in a distributed enterprise at scale.</li>
            </ul>

            <li><strong>Professional Level III:</strong></li>
            <ul>
                <li>Graduation from an accredited college or university with a bachelor’s degree. An equivalent combination of education and experience may substitute for the degree requirement.</li>
                <li><strong>At least three years of broad hands-on experience as a Windows systems engineer/administrator implementing and supporting cloud-based technologies, virtualized infrastructure, end-user computing, servers, and disaster recovery systems in a distributed enterprise at scale.</strong></li>
            </ul>
        </ul>
    </li>
</ul>
