@{
    ViewBag.Title = "MyQuestions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong> Professional Level Offerings </strong><br>
The hiring ranges by position level are:
Professional Level III: $83,000 - $90,000
Professional Level II: $65,000 - $75,000

<strong>  What We Require </strong><br>
Professional Level II:
Graduation from an accredited college or university with a bachelor’s degree. An
equivalent combination of education and experience may substitute for the degree
requirement.
At least one year of broad hands-on experience as a Windows systems
engineer/administrator implementing and supporting cloud-based technologies,
virtualized infrastructure, end-user computing, servers, and disaster recovery
systems in a distributed enterprise at scale.
Professional Level III:
Graduation from an accredited college or university with a bachelor’s degree. An
equivalent combination of education and experience may substitute for the degree
requirement.
<strong>  At least three years of broad hands-on experience as a Windows systems
engineer/administrator implementing and supporting cloud-based technologies,
virtualized infrastructure, end-user computing, servers, and disaster recovery
systems in a distributed enterprise at scale. </strong><br>

 </p>
