@{
    ViewBag.Title = "Responsibilities";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
<strong>Microsoft Windows Systems Engineering and Systems Administration:</strong>

Contributes to—and occasionally leads—the technical development of specialized
technologies and systems, some with national or global reach, used throughout the
departments and programs of the College of Engineering and Applied science.
Collaborates with the campus-level Office of Informational Technology (OIT) and
uses their central IT services, systems, and support.
Maintains professional-level knowledge of core technologies including, but not
limited to public cloud providers/services, virtualization/clustering, disaster
recovery, domain services, storage, and application licensing/packaging among
others.
Uses Azure DevOps in a Windows environment, using tools such as PowerShell,
Git, and Octodeploy for automation.
Ensures exceptional system uptime, security, and performance through proactive
updates and maintenance, monitoring, and knowledge of the best industry
practices. Implements additional tools and security measures autonomously. Stays
abreast of system threats and vulnerabilities, and self-implements software and
procedural changes when prudent.
Develops and supports uniquely configured instances of enterprise applications
such as Atlassian JIRA and Confluence.
Handles identity management and integration of various services (SSO), including
within a proprietary ERP developed in-house.
Designs and manages complex group policy objects, configurations, and settings
within Active Directory and Azure Active Directory.
<p>
<strong> Enterprise and Action Support: </strong>
In addition to traditional IT support, provides distributed and specialized user,
server, and cloud computing support.
Manages specific aspects of over 100 client-facing applications including licensing,
configuration, update management, and testing.
Provide tier 2 support through ITSM tool (JIRA).
Contributes to the yearly life cycle of software images—a multi-month project that
includes partner engagement/communication, advanced technology evaluation
and testing, and coordination across different departments, programs, and
laboratories, each with their own needs and operational schedules.
</p>

<p>
<strong> Technical Strategy and Oversight: </strong>
Assists the ITLP IT director in budget development, requirements gathering, and
support assessment of all future system-wide upgrades or migrations. Suggests,
reviews, and assesses the technical efficacy and strategy of all projects and
initiatives with system-wide impact.
Proactively collaborates with the ITLP IT director on software and hardware needs,
many of which are custom, ensuring the reliability and security of all systems,
servers and the network. Identifies design improvements, and cost-saving
strategies.
Assists with IT-related crisis situations, which may involve complex technical
hardware or software issues including collaboration and relationship management
with vendor experts. May operate as primary contact and conduit between IT and
impacted customers.
In collaboration with the ITLP IT director, develops, maintains and updates IT
policy and processes.
</p>
<p>
<strong>Customer and Vendor Relationship Management and Communication: </strong>
Tactfully listens to and engages with collaborators of all levels regarding future
needs, technologies, or services. Proactively leverages relationships with
collaborators and other partners to help position IT ahead of anticipated requests.
Develops sustainable IT solutions aligned with the best industry practices.
Authors and coordinates relevant mass communications to partners, including
incident management, off-hours maintenance periods, or systematic changes and
improvements.
Partners with OIT to ensure services and solutions complement those provided by
central IT.
Manages vendor relationships and coordinates activities involving 3rd-party vendor
support, as needed.
</p>
<p>
<strong> Professional Development: </strong>
Stays apprised and current on relevant University and State of Colorado policies
and procedures.
Participates in professional development activities and serves on unit, college or
campus committees as applicable.
 </p>
